#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form .calificacion {
  text-align: center;
}

#form .val {
  font-size: 20px;
}

.inval[type="radio"] {
  display: none;
}

.val {
	font-size: 22px;
  color: grey;
   transition: .4s; 
   width: 20px;
}

.calificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.val:hover,
.val:hover ~ .val {
  color: orange;
     width: 21px;
  transition: .2s;
  
}
.usuario{
	color: black;
}
.inval[type="radio"]:checked ~ .val {
  color: orange;
}
.casilla-comentarios{
	display:block;
	background-color: #C5D86D;
	margin: 4px;
	border-radius: .7rem;
	
}
.header-comentarios{
	/*background-color: #FFEDDF;*/
	font-size: 18px;
	height: 40px;
	padding:10px;
}
.elcom{
	font-size: 17px;
}
.footer-comentarios{
	padding-top: 10px;
	padding-bottom: 0;
	padding-left:10px;
	background-color: #FFfF;
	border-radius: .2rem;
}
.footer-laval{
text-align: right;	
padding-right: 3px;
}
.cont-comentarios{
	margin: 3px;
	
}
/*.btn{
	background-color: lightblue;
}
.btn:hover{
	color: white;
}*/