.img-sl-1{
width: 700px;	
text-align: center;
}
.imagen-sola{
	margin: 30px auto;
	width: 700px;
	height: 400px;
	background-image: url(/img/pastel.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}