<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div class="container">
<!--  	<div th:insert="layouts/header :: header"></div>

		<div class="row col-md-12">
			<div th:="p : ${pois}">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
  					<!-- 	<img src="#" class="card-img-top" alt="hola">-->
						<div class="card-body">
					<!-- 	<h5 class="card-title" th:text="${p.idPoi }">Id</h5>-->
							<p class="card-text" th:text="${p.nombrePoi}">Nombre</p>
							<p class="card-text" th:text="${p.descripcion}">Descripcion</p>
				<!-- 				<a class="stretched-link btn btn-primary"><i class="fas fa-shopping-cart mr-2"></i> Comprar</a>-->
						</div>
					</div>
				</div>
			</div>
		</div>

</div>
	
</body>
</html>