<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Valorar puntos de interes</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
	<link th:href="@{/css/estilos_valoracion.css}" rel="stylesheet" type="text/css"
		href="/static/css/estilos_valoracion.css">
	<link th:href="@{/css/estilo-largo.css}" rel="stylesheet" type="text/css" href="/css/estilo-largo.css" />
	<link th:href="@{/css/estilos-foto.css}" rel="stylesheet" type="text/css" href="/css/estilos-foto.css" />
</head>

<body>

	<div class="container">
		<!--Este es el header-->
		<div th:insert="layout/header :: header" class="cabeza"></div>
		<!--Fin de el header-->
		 <div class="card-header justify-content-center">
                    <h2>Los puntos de Interés <span class="text-primary">Más</span> Comentados</h2> 
          </div>
		<div class="col-md-12 my-sm-4 d-md-flex">
			<div class="mb-5" th:each="c : ${pois}">
				<div class="col-md-4 mb-5">
					<div class="card" style="width: 18rem;">
					
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active mb-5">
									<img th:src="*{'data:;base64,'+c.imagen}" width="200" height="200" class="d-block w-100" alt="First slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen2}" width="200" height="200" class="d-block w-100" alt="Second slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen3}" width="200" height="200" class="d-block w-100" alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>

					<div class="card-body">
						<h5 class="card-title" th:text="${'ID:  '+c.idPoi}">ID</h5>
						<p class="card-text" th:text="${c.nombrePoi}">Nombre</p>
						<p class="card-text" th:text="${'Etiqueta:  '+c.etiqueta}">Etiqueta</p>
						<p class="card-text" th:text="${'Latitud:  '+c.latitud}">Latitud</p>
						<p class="card-text" th:text="${'Longitud: '+c.longitud}">Longitud</p>
						<a th:href="@{'/poi/foto'}"><i class="far fa-comments"></i><label class="card-text" th:text="${c.numeroDeComentarios}"></label></a>
						
					
						<div>
							 <a href="#" class="btn btn-primary" th:href="@{'/poi/editar/'+${c.idPoi}}"> <i class="fa fa-edit"></i> Editar Mi POI</a>
                    	&nbsp; &nbsp;

						</div>

						<div class="btn">
						<a class="stretched-link btn link-valorar" style="position: relative;"  th:href="@{'/poi/valorar/'+${c.idPoi}}" ><i class="fas fa-star"></i>Valorar</a>
								&nbsp; &nbsp;

						</div>
					</div>

					</div>

				</div>
			</div>
		</div>
		
		
		<!-- el slider-->
			<div class="col-md-12 my-sm-4 d-md-flex">
			 <div class="mb-5" th:each="c : ${pois}">
			
									<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active mb-5">
									<div width="200" height="200" class="d-block w-100" alt="First slide">
									
														<div class="card" style="width: 18rem;">
					
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active mb-5">
									<img th:src="*{'data:;base64,'+c.imagen}" width="200" height="200" class="d-block w-100" alt="First slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen2}" width="200" height="200" class="d-block w-100" alt="Second slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen3}" width="200" height="200" class="d-block w-100" alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>

					<div class="card-body">
						<h5 class="card-title" th:text="${'ID:  '+c.idPoi}">ID</h5>
						<p class="card-text" th:text="${c.nombrePoi}">Nombre</p>
						<p class="card-text" th:text="${'Etiqueta:  '+c.etiqueta}">Etiqueta</p>
						<p class="card-text" th:text="${'Latitud:  '+c.latitud}">Latitud</p>
						<p class="card-text" th:text="${'Longitud: '+c.longitud}">Longitud</p>
						<a th:href="@{'/poi/foto'}"><i class="far fa-comments"></i><label class="card-text" th:text="${c.numeroDeComentarios}"></label></a>
						
					
						<div>
							 <a href="#" class="btn btn-primary" th:href="@{'/poi/editar/'+${c.idPoi}}"> <i class="fa fa-edit"></i> Editar Mi POI</a>
                    	&nbsp; &nbsp;

						</div>

						<div class="btn">
						<a class="stretched-link btn link-valorar" style="position: relative;"  th:href="@{'/poi/valorar/'+${c.idPoi}}" ><i class="fas fa-star"></i>Valorar</a>
								&nbsp; &nbsp;

						</div>
					</div>

					</div>
									</div>
									
									
								</div>
								<div class="carousel-item mb-5">
									<div width="200" height="200" class="d-block w-100" alt="Second slide">
														<div class="card" style="width: 18rem;">
					
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active mb-5">
									<img th:src="*{'data:;base64,'+c.imagen}" width="200" height="200" class="d-block w-100" alt="First slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen2}" width="200" height="200" class="d-block w-100" alt="Second slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen3}" width="200" height="200" class="d-block w-100" alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>

					<div class="card-body">
						<h5 class="card-title" th:text="${'ID:  '+c.idPoi}">ID</h5>
						<p class="card-text" th:text="${c.nombrePoi}">Nombre</p>
						<p class="card-text" th:text="${'Etiqueta:  '+c.etiqueta}">Etiqueta</p>
						<p class="card-text" th:text="${'Latitud:  '+c.latitud}">Latitud</p>
						<p class="card-text" th:text="${'Longitud: '+c.longitud}">Longitud</p>
						<a th:href="@{'/poi/foto'}"><i class="far fa-comments"></i><label class="card-text" th:text="${c.numeroDeComentarios}"></label></a>
						
					
						<div>
							 <a href="#" class="btn btn-primary" th:href="@{'/poi/editar/'+${c.idPoi}}"> <i class="fa fa-edit"></i> Editar Mi POI</a>
                    	&nbsp; &nbsp;

						</div>

						<div class="btn">
						<a class="stretched-link btn link-valorar" style="position: relative;"  th:href="@{'/poi/valorar/'+${c.idPoi}}" ><i class="fas fa-star"></i>Valorar</a>
								&nbsp; &nbsp;

						</div>
					</div>

					</div>
									</div>
									
								</div>
								<div class="carousel-item mb-5">
								<div width="200" height="200" class="d-block w-100" alt="Third slide">
													<div class="card" style="width: 18rem;">
					
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active mb-5">
									<img th:src="*{'data:;base64,'+c.imagen}" width="200" height="200" class="d-block w-100" alt="First slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen2}" width="200" height="200" class="d-block w-100" alt="Second slide">
								</div>
								<div class="carousel-item mb-5">
									<img th:src="*{'data:;base64,'+c.imagen3}" width="200" height="200" class="d-block w-100" alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>

					<div class="card-body">
						<h5 class="card-title" th:text="${'ID:  '+c.idPoi}">ID</h5>
						<p class="card-text" th:text="${c.nombrePoi}">Nombre</p>
						<p class="card-text" th:text="${'Etiqueta:  '+c.etiqueta}">Etiqueta</p>
						<p class="card-text" th:text="${'Latitud:  '+c.latitud}">Latitud</p>
						<p class="card-text" th:text="${'Longitud: '+c.longitud}">Longitud</p>
						<a th:href="@{'/poi/foto'}"><i class="far fa-comments"></i><label class="card-text" th:text="${c.numeroDeComentarios}"></label></a>
						
					
						<div>
							 <a href="#" class="btn btn-primary" th:href="@{'/poi/editar/'+${c.idPoi}}"> <i class="fa fa-edit"></i> Editar Mi POI</a>
                    	&nbsp; &nbsp;

						</div>

						<div class="btn">
						<a class="stretched-link btn link-valorar" style="position: relative;"  th:href="@{'/poi/valorar/'+${c.idPoi}}" ><i class="fas fa-star"></i>Valorar</a>
								&nbsp; &nbsp;

						</div>
					</div>

					</div>
								</div>
								
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>
			
			 </div>
			</div>
		
		
		
		
		
		
		
		
		
	</div>
	</div>


	<!--Modal Editar-->
	<div class="modal fade" id="modalValorar" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

			</div>
		</div>
	</div>


	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-valorar").on("click", function (event) {
				event.preventDefault();
				$("#modalValorar").modal("show").find(".modal-content").load($(this).attr("href"));
			});
		});
	</script>

</body>

</html>