<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Valorar puntos de interes</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
	<link th:href="@{/css/estilos_valoracion.css}" rel="stylesheet" type="text/css"
		href="/static/css/estilos_valoracion.css">
	<link th:href="@{/css/estilo-largo.css}" rel="stylesheet" type="text/css" href="/css/estilo-largo.css" />
	<link th:href="@{/css/estilos-foto.css}" rel="stylesheet" type="text/css" href="/css/estilos-foto.css" />
	<link th:href="@{/css/estilo-home.css}" rel="stylesheet" type="text/css" href="/css/estilo-home.css" />
</head>

<body>

	<div class="container">
		<!--Este es el header-->
		<div th:insert="layout/header :: header" class="cabeza"></div>
		<!--Fin de el header-->
		<div class="card-header justify-content-center">
			<h2>Los puntos de Interés <span class="text-primary">Más</span> Comentados</h2>
		</div>



		<!-- el slider-->
		<div class="col-md-12 my-sm-4 d-md-flex">
			<div class="mb-5" th:each="c : ${pois}">
				<div class="col-md-12 mb-5">

					<div class="card" style="width: 18rem;">

						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img th:src="*{'data:;base64,'+c.imagen}" class="d-block w-100 slider-mc" alt="First slide">
								</div>
								<div class="carousel-item">
									<img th:src="*{'data:;base64,'+c.imagen2}" class="d-block w-100 slider-mc" alt="Second slide">
								</div>
								<div class="carousel-item ">
									<img th:src="*{'data:;base64,'+c.imagen3}" class="d-block w-100 slider-mc" alt="Third slide">
								</div>
							</div>

						</div>

					<div class="card-body">
					<a th:href="@{'/poi/foto'}" class="comentario-logo"><i class="far fa-comments"></i><label class="card-text" th:text="${c.numeroDeComentarios}"></label></a>
						<h5 class="card-title" th:text="${'ID:  '+c.idPoi}">ID</h5>
						<p class="card-text" th:text="${c.nombrePoi}">Nombre</p>
						<p class="card-text" th:text="${'Etiqueta:  '+c.etiqueta}">Etiqueta</p>
						
						

						<div class="btn">
						<a class="stretched-link btn link-valorar" style="position: relative;"  th:href="@{'/poi/valorar/'+${c.idPoi}}" ><i class="fas fa-star"></i>Valorar</a>
								&nbsp; &nbsp;

						</div>
					</div>

					</div>
				</div>
			</div>
		</div>









	</div>
	</div>


	<!--Modal Editar-->
	<div class="modal fade" id="modalValorar" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

			</div>
		</div>
	</div>





	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-valorar").on("click", function (event) {
				event.preventDefault();
				$("#modalValorar").modal("show").find(".modal-content").load($(this).attr("href"));
			});
		});
	</script>

</body>

</html>