<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
<meta charset="UTF-8">

<title>Registrarse</title>

 <link th:href="@{/css/estilo-largo.css}" rel="stylesheet" type="text/css" href="/css/estilo-largo.css"/>
 <!-- Referencias para probar fuentes e íconos-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        
</head>

<body>
	<div class="container">
<!--Este es el header-->
<div th:insert="layout/header :: header" class="cabeza"></div>
    <!--Fin de el header-->
		<h1 class="mb-0">Crea tu <span class="text-primary">cuenta</span></h1>
		<br>
		<p> &nbsp;&nbsp;&nbsp; La siguiente información es requerida para que pueda disfrutar de nuestros servicios: </p>
		<form id="formTurista" th:object="${unTurista}"
			th:action="${editMode}?@{/turista/modificar}:@{/turista/guardar}"
			method="post">
			 <input type="hidden" name="rol" id="rol" th:field="*{rol}">
                    
					<div class="form-row my-2">
                        <div class="form-group col-md-4">
                            <label class="form-label user-select-none " for="nombre">Nombre <span class="text-danger">*</span></label>
                            <input class="form-control mx-sm-3" type="text" id="nombre" th:field="*{nombre}">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label user-select-none mx-sm-2" for="apellido">Apellido <span class="text-danger">*</span></label>
                            <input class="form-control mx-sm-3" type="text" id="apellido" th:field="*{apellido}">
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="form-group col-md-4">
                            <label class="form-label user-select-none " for="email">Correo electrónico <span class="text-danger">*</span></label>
                            <input class="form-control mx-sm-3" type="email" id="email" th:field="*{email}">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label user-select-none mx-sm-2" for="password">Contraseña <span class="text-danger">*</span></label>
                            <input class="form-control mx-sm-3" type="password" id="password" th:field="*{password}">
                        </div>
                    </div>
					<div class="form-row my-2">
                        <div class="form-group col-md-4">
                            <label class="form-label user-select-none mx-sm-3" for="password"> Pais de procedencia <span class="text-danger">*</span></label>
                            <select class="form-control mx-sm-3" name="País" id="seleccion-pois" th:field="*{paisProcedencia}">
                                    <option value="-- Seleccione su pais --" selected disabled>-- Seleccione su pais --</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Brasil">Brasil</option>
                                    <option value="Chile">Chile</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Estados Unidos">Estados Unidos</option>
                                    <option value="España">España</option>
                                    <option value="Perú">Perú</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Francia">Francia</option>
                                    <option value="Italia">Italia</option>
                                    <option value="Alemania">Alemania</option>
                                    <option value="Reino Unido">Reino Unido</option>
                                    <option value="México">México</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="China">China</option>
                                    <option value="Canadá">Canadá</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Suiza">Suiza</option>
                                    <option value="Países Bajos">Paises Bajos</option>
                                    <option value="Corea del Sur">Corea del Sur</option>
                                    <option value="Japón">Japón</option>
                                    <option value="Nueva Zelanda">Nueva Zelanda</option>
                                    <option value="Bélgica">Bélgica</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Rusia">Rusia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                </select>
                        </div>
                        <input type="hidden" th:field="*{idTurista}">
                        <div class="form-group my-2">
                            <div class="form-check">
                                <input class="form-check-input mx-sm-3 my-lg-5" type="checkbox">
                                &nbsp;&nbsp;&nbsp;
                                <label class="form-check-label text-muted mx-sm-4 my-lg-4">Acepto terminos de privacidad y seguridad</label>
                            </div>
                        </div>
                     <div class="form-row my-2">
                        <div class="form-group col-md-4 align-items-center my-2">
                            <button class="btn btn-primary" type="submit" value="Registrarse"> Registrarse</button>
                        </div>
                    </div>
                </form>
		
		<!-- <div th:insert="layouts/footer :: footer"></div> -->
	</div>
	
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
	<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
		
</body>
</html>


